.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    padding-left: 18px;
  }

  @include tablets {
    margin-top: 2px;
    margin-bottom: 91px;
  }

  @include phones {
    margin-top: 0;
    margin-bottom: 102px;
  }
}