.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    padding-left: 18px;
  }

  @include tablets {
    margin-top: 2px;
    margin-bottom: 91px;

    .menu {
      display: none;
    }
  }

  @include phones {
    margin-top: 0;
    margin-bottom: 102px;
  }
}

.header--menu-active {
  @include phones {
    flex-direction: column;
    align-items: flex-start;
  }
}