.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 57px 0 40px;
}

.hero__bottom-buttons {
  display: flex;
  justify-content: center;
}

svg.scroll-down-icon {
  width: 25px;
  height: 25px;
  fill: $text-color;
}

