.logo {
  font-weight: 800;
  font-size: 36px;
  color: $text-color;
  text-decoration: none;

  @include tablets {
    font-size: 38px;
  }
}

.logo--disabled {
  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }
}