.menu {
  @include desktop {
    margin-top: 5px;
  }
}

.menu__list {
  display: flex;
  
  @include desktop {
    padding-right: 17px;
  }
}

.menu__item {
  margin-right: 60px;
  transition: .3s;
  border-bottom: 2px solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transition: .3s;
    color: #ff9a00;
    border-bottom: 2px solid #ff9a00;
  }

  @include desktop {
    margin-right: 71px;
  }
}

.menu__link {
  text-decoration: none;
}