section.reviews {
  min-height: 910px;
  @include desktop {
    min-height: 1136px;
    background: url('~images/bg/reviews-bg.jpg') top right / cover no-repeat;
  }

  @include tablets {
    min-height: 1206px;
  }

  @include tablets {
    min-height: 1421px;
  }
}

.reviews {
  background: url('~images/bg/reviews-bg.jpg') top right / cover no-repeat;
}

.reviews__container{
  width: 90%;

  @include phones {
    width: 82%;
  }
}