.skills-row__list {
  display: flex;
}

.skills-row__item {
  margin-right: 5.5%;
}

.skills-row__title {
  margin-bottom: 3.3%;
  padding-left: 1.2%;

  @include desktop {
    letter-spacing: .9px;
    padding-left: .5%;
  }
}

.skills__item {
  margin-bottom: 5.6%;

  @include desktop {
    margin-bottom: 9%;
  }
}