.socials {
  display: flex;
}

svg.socials__icon {
  width: 25px;
  height: 25px;
  fill: $text-color;
  opacity: .3;
  transition: .3s;

  &:hover {
    transition: .3s;
    fill: #ff9a00;
    opacity: 1;
  }
}

.socials__item {
  margin-right: 35px;
  
  &:last-child {
    margin-right: 0;
  }
}