.socials {
  display: flex;
}

svg.socials__icon {
  width: 25px;
  height: 25px;
  fill: $text-color;
  opacity: .3;
}

.socials__item {
  margin-right: 35px;
  
  &:last-child {
    margin-right: 0;
  }
}