.thumbs {
  position: relative;
  display: flex;
}

.thumbs__item {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.thumbs__pic {
  height: 97px;
  width: 100%;

  @include desktop {
    height: 70px;
  }
}

.thumbs .thumbs__item.active {
  border: 3px solid #ff9a00;
}