.userinfo {
  display: flex;
  justify-content: center;

  @include desktop {
    margin-top: 34px;
    line-height: 1.8;
    letter-spacing: 1px;
  }
}

.userinfo__title {
  font-weight: 600;
  text-align: right;
  margin-right: 55px;
  opacity: .5;
  font-size: 18px;

  @include desktop {
    margin-right: 40px;
  }
}

.userinfo__name {
  font-weight: 800;
  font-size: 72px;
  flex-basis: 430px;
  line-height: .83;

  @include desktop {
    letter-spacing: 3px;
    line-height: .91;
  }
}