.userinfo {
  display: flex;
  justify-content: center;
}

.userinfo__title {
  font-weight: 600;
  text-align: right;
  margin-right: 55px;
  opacity: .5;
}

.userinfo__name {
  font-weight: 800;
  font-size: 72px;
  flex-basis: 430px;
  line-height: .83;
}