.user {
  flex-direction: column;
  display: flex;
}

.user__avatar-style {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.user__avatar {
  margin: 32px auto 65px;
}

.user__data-row {
  margin-bottom: 20px;
}

.user__data {
  padding: 0 7% 0 17%;
}

.user__data-title {
  opacity: .3;
}